<div class="container">
        <h1>Car Sales Data</h1>
        <table border="1">
            <tr>
                <th>InvoiceID</th>
                <th>Branch</th>
                <th>City</th>
                <th>CustomerType</th>
                <th>ProductLine</th>
                <th>name</th>
                <th>image</th>
                <th>Unitprice</th>
                <th>Quantity</th>
                <th>Tax5</th>
                <th>Total</th>
                <th>Time</th>
                <th>Payment</th>
                <th>cogs</th>
                <th>gross Income</th>
                <th>Latest Launch</th>
                <th>Rating</th>
            </tr>
            <tr>
               <td>{{data.InvoiceID}}</td>
                <td>{{data.Branch}}</td>
                <td>{{data.City}}</td>
                <td>{{data.CustomerType}}</td>
                <td>{{data.ProductLine}}</td>
                <td>{{data.name}}</td>
                <td>{{data.image}}</td>
                <td>{{data.Unitprice}}</td>
                <td>{{data.Quantity}}</td>
                <td>{{data.Tax5}}</td>
                <td>{{data.Total}}</td>
                <td>{{data.Time}}</td>
                <td>{{data.Payment}}</td>
                <td>{{data.cogs}}</td>
                <td>{{data.grossIncome}}</td>
                <td>{{data.Latest_Launch}}</td>
                <td>{{data.Rating}}</td>
            </tr>
        </table>
    </div>
